#header {
	border : 3px solid black;
	background-color: rgb(102, 255, 224);
}

.box-margin{
	margin: 20px;
}

#detail{
	height: 250px;
}
#sectionPhoto{
	border : 1px solid black;
	height: 300px;
}
#photo {
	width : 20%;
	float : left;
	height: inherit;
	overflow : hidden;
	text-align: center;
}

#article {
	width : 80%;
	float : left;
	height: inherit;
	overflow : hidden;
	
}
.box{
	border-left: 1px solid black;
float: left;
width: 33%;
height: inherit;
border-top: 1px solid black;
border-bottom: 1px solid black;

}

.box-right-border{
	border-right: 1px solid black;
}
.clear{
	clear : both;
}

.infotitle{
	text-align : center; 
	font-size: 24px;
font-weight: bold;
color: blue;
padding-top: 5px;
padding-bottom: 5px;
border-bottom: 2px solid purple;
background-color: #ff8080;
color: #00ffcc;
}

.rTable {   	
	display: table;  
 	width: 100%; 
} 

.rTableRow {   	
	display: table-row; 
	
} 


.rTableCell {   	
	display: table-cell;   	
	padding: 3px 10px;   	
	border-bottom: 1px solid #999999; 
	
} 

@media only screen and (max-width: 780px) {
    
	.box{
	border : 1px solid black;
	float : left;
	width : 100%;
	height: inherit;
}

}
