@CHARSET "ISO-8859-1";
*{
   margin: 0;
   font-family: Open Sans;
}

input:invalid{
   color: red;
}

body{
   background-color: #eaeaea;
   padding: 1%;
}

#contact-form form .line{
   display: flex;
   margin: 10px;

}


#contact-form form .line .lab{
   width: 45%;
   display: inline-block;
}

#contact-form form .line .lab label {
   float: right;
   padding-right: 10px;
   font-weight: bold;
}

#contact-form form {
   width: 100%;
}


#contact-form form  span{
padding: 0px 10px 0px 10px;
   border-radius: 3px 0px 0px 3px;
   border: thin #cccccc;
   border-top-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   background: #eeeeee;
}

#contact-form form  input,textarea,select{
   max-width:300px ;
   width: 40%;
   padding: 2px 5px 2px 5px;
   border-radius: 0px 3px 3px 0px;
   border: thin #cccccc;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   width: 40%
}

#contact-form form  .rb{
   max-width:40px  ;
}

#contact-form form button{
   background-color: #e68f30;
   border: none;
   border-radius: 3px;
   padding: 5px 3px 5px 10px;
   color: #fdf5d9;
   font-weight: bold;
}

#contact-form form button span{
   background-color: #e68f30;
   border: none;
   color: #fdf5d9;
   font-weight: bold;
}